<h1>Update {{person.fname}} {{person.lname}}:</h1>
<form id="update-guardian" action="/guardian" method="post">
    Name: <input type="text" name="name" value="{{guardian.name}}"><br>
    Class: <input type="text" name="class" value="{{guardian.class}}"><br>
    Race: <input type="text" name="race" value="{{guardian.race}}"><br>
    Current Planet: <select name="current_planet" id="planet-selector">
        {{#each planets}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Level: <input type="number" name="level" value="{{guardian.level}}"><br>
</form>
<button onclick="updateGuardian({{guardian.id}})">Update</button>
<script defer>selectPlanet({{person.current_planet}});</script>
